= javascript_include_tag "finish"
meta property="og:title" content="Take the Aloette “A-List Lash” Quiz"
meta property="og:url" content="http://vanity.astralbrands.com/quizzes/#{@quiz.slug}"
meta property="og:description" content="I took the Aloette “A-List Lash Quiz,” and I'm #{@category.title}. Find out which A-List Celebrity you are!"
meta property="og:site_name" content="Aloette Cosmetics"