= javascript_include_tag "finish"
meta property="og:title" content="Take the Aloette “A-List Quiz” Quiz"
meta property="og:url" content="http://vanity.astralbrands.com/quizzes/#{@quiz.slug}/#{@category.slug}"
meta property="og:description" content="I took the Aloette “A-List Quiz,” and I'm #{@category.title}.\r\n\r\nFind out which A-List Celebrity you are --> https://apps.facebook.com/aloette-quizzes"
meta property="og:site_name" content="Aloette Cosmetics"