= javascript_include_tag "finish"
meta property="og:title" content="Find your Skindred Spirit with Aloette!"
meta property="og:url" content="http://vanity.astralbrands.com/quizzes/skincare_regimen/#{@category.slug}"
meta property="og:description" content="#{@category.text}"
meta property="og:site_name" content="Aloette Cosmetics"